#firstspan{
    color:pink;
}

span{
    font-size:30px;
    color:green;
    cursor:pointer;
}
span:hover{
    font-size:50px;
        color:red;
}
.group{
    color:yellow;
}
#secondspan{
    color:purple;
}
th{
    background-color: black;
    color:white;
    text-transform: uppercase;
    cursor:pointer;
}
th:hover{
    background-color: red;
}
table,tr,td{
    /*padding: 10px;
    margin: auto;*/
    border:solid 1px;
    
}
#firsthth:hover{
    background-color:rosybrown;
        cursor:pionter;
    font-size:50px;
}
th{
    backface-visibility:visible;
}
td{
    border-color: aqua;
}