<!doctyp html>
<html>
<head>  
     <title> My first UI assingment </title> 
    <link rel='stylesheet' href='/style/assingment1.css'>
 </head>
    
    
<body>
    <h1>The Links Table</h1>
    <table>
    <thead>
        <tr>
             <th>Links</th> 
            <th>Description</th>
            
         </tr>
         </thead>
 <tbody>
     <tr>  
        <td><a href="http://www.footytube.com/"target="_blanck" >URL OF FOOTYTUBE</a></td>
        <td>Footytoube website For The Latest Football Videos and Highlights</td>
     </tr>
     
     <tr>
     <td> <a href="index.html">THIS IS INTERNAL LINK</a></td>
     <td>i need to find description in here</td>
      </tr>  
     <tr>
     <td><a href="https://www.udemy.com/courses/"target="_blanck" > Udemy </a></td>
     <td>Udemy.com is an online learning platform</td>
    
     </tr>
        
        
        
        
        
        </tbody>
    
    
    
    
    
    
    
    
    
        
     </table>
    </body>
</html>