<!doctype html>
<html>

    <head>
        <title>First Page</title>
        <link rel='stylesheet' href='/style/style.css'>
       
        <style>
            
            h2,h3,h4,h5,h6{
            color: blue;}
            
            h3{
            cursor:pointer;
              }
            
        </style>
        
    </head>
    
    

    <body>  
        <h1 style="color:red"> Header1</h1>
        <h2> Header2</h2>
        <h3> Header3</h3>
        <H4> Header4</H4>
        <H5> Header5</H5>
        <H6 class='group'> Header6</H6>
        
        <span> Hello World </span><br>
        <span> Hello world </span><br>
        <span>Good morning </span><br>
        <span> Hola Amigos </span><br>
        
        <span id='firstspan'>with id</span><br>
        <span id='secondspan' class='group'>second id</span><br>
        <span class='group'> Group</span><br>
    </body>

</html>
