<!DOCTYPE html>
<html>
<head>
    
    <title>FormGet</title>
</head>
    <body>
   <form name='getfotm' method='POST'>
        <table>
        
        <tr>
            <td>First Name</td>
           <td><input type='text' name='firstname' id='firstname' value=''/></td> 
                                                            
        </tr>
        <tr>
            
             <td>Last Name</td>
            
            <td><input type='text' name='Lastname' id='Lastname' value=''/></td>
        </tr>
        <tr>
            
             <td>Address</td>
            
            <td><input type='text' name='Address' id='Address' value=''/></td>
        </tr>
        <tr>    
        <td>Password</td>    
        <td><input type='text' name='Password' id='Password' value=''/></td>
        </tr>
        <tr>
           
           <td colspan="2" > <input type="submit" value="form submit"/><td colspan="2" >
            
            
            </td>
            
        </tr>
        
        </table>
        </form>
    </body>
    



</html>