<!doctype html>
<html>

    <head>

        <title>table assingment </title>
         <link rel='stylesheet' href='/style/style.css'>
        <!--How to comment-->
   </head>
      <body>
          
  
          <h1>Tables</h1>
          
<table>              
   <thead>
    <tr>
        <th>First Name</th>
        <th>Last Nasme</th>
        <th>Address</th>
    </tr>
    </thead>

  
     
        <tr>
          <td>John </td>  
           <td> Doe</td> 
            <td> Arlington</td>
        </tr>
        <tr>
           <td>George </td>  
           <td>Washington </td> 
            <td>Boston </td> 
             </tr>
       <tr>
           <td>Ali </td>  
           <td>maslou </td> 
            <td>Irving </td> 
      </tr>
    
    </table>
          <h1>liks</h1>
          <a href="https://www.facebook.com/"target="_blanck" >this is facebook link</a>
          <a href="index.html">this is internal link</a>
    </body>
</html>
            
