<!doctype html>
<html>
<head>
    <title>My first Table</title>
</head>
<body>
    <table>
     <thead>   
    <tr>
        <th>Planet</th>
        <th>Ocean</th>
        <th>Desert</th>
        <th>Sports</th>
    </tr>
     </thead>   
    <tr>
        <td>Earth</td>
        <td>Pacific</td>
        <td>Sahara</td> 
        <td>Soccer</td>
    </tr>
    <tr>
        <td>Sun</td>
        <td>Atlantic</td>
        <td>Arabica</td>
        <td>basketball</td>
    </tr>
    
    </table>
      
    </body>


</html>